//TODO fix bottom blank space on mobile

@import "./common";
@import "material-components-web/material-components-web";

.mdc-top-app-bar__title {
  overflow: visible;
  margin-left: auto;
  margin-right: auto;
  max-width: 0;
}

.mdc-top-app-bar--prominent-fixed-adjust {
  padding-left: 40px;
  padding-right: 40px;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.mdc-top-app-bar__section--align-end {
  background-color: rgba(108, 65, 182, 0.48);
  @include mdc-tab-states-color($mdc-theme-secondary);
  --mdc-theme-primary: white;
  @include mdc-tab-text-label-color(white);
}

.mdc-tab-bar {
  width: auto;
  display: block;
}

.member-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

#container {
  min-height: 100%;
  position: relative;
  padding-bottom: 30%;
  display: block;
}

.footer {
  //background-color: #f3efee;
  box-sizing: border-box;
  position: absolute;
  padding-top: 10px;
  padding-left: 20px;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 10%;
}

.mdc-card {
  margin-top: 16px;
  max-width: 100%;
  text-align: center;
}

.mdc-card__primary, .mdc-card__secondary {
  padding: 16px;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}

.research-tab__member, .members-tab__member {
  display: none;
}

.team-timeline__slider {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.team-timeline__slider__slider-pin {
  display: none;
}

.team-timeline__detail-header, .team-timeline__detail-body {
  margin-top: 0;
}

.mdc-card__secondary {
  //padding-top: 0;
  padding-bottom: 8px;
}

.image {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.footer__logo-container {
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  max-width: fit-content;
}

.footer__text {
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}